{% load static %}


<!DOCTYPE html>
<html lang="fa" dir="rtl">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--==== favicon css ====-->
    <link rel="shortcut icon" href="assets/images/favicon.png" type="image/x-icon" />

    <!-- josefin font -->
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&amp;display=swap" rel="stylesheet">

    <title>قالب چند منظوره فروشگاهی سوفست</title>

    <!-- font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />

    <!-- flaticon -->
    <link rel="stylesheet" href="{% static 'assets/font/flaticon.css'%}">

    <!-- bootstrap -->
    <link rel="stylesheet" href="{% static 'assets\css\bootstrap.min.css'%}">

    <!-- menu -->
    <link rel="stylesheet" href="{% static 'assets/css/menu.css'%}">

    <!-- swiper slider -->
    <link rel="stylesheet" href="{% static 'assets/css/swiper-bundle.min.css'%}">

    <!-- venobox -->
    <link rel="stylesheet" href="{% static 'assets/css/venobox.css'%}">

    <!-- select -->
    <link rel="stylesheet" href="{% static 'assets/css/select2.min.css'%}">

    <!-- jquery ui -->
    <link rel="stylesheet" href="{% static 'assets/css/jquery-ui.min.css'%}">

    <!-- style -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css'%}">

    <!-- responsive -->
    <link rel="stylesheet" href="{% static 'assets/css/responsive.css'%}">
</head>

<body>
    <!-- start preloader area -->
    <div class="preloader">
        <div class="preloader-orbit-loading">
            <div class="cssload-inner cssload-one"></div>
            <div class="cssload-inner cssload-two"></div>
            <div class="cssload-inner cssload-three"></div>
        </div>
    </div>
    <!-- end preloader area -->

    <!-- start scroll top button -->
    <div class="scroll-top">
        <button class="top-to-btn">
            <i class="fas fa-arrow-up"></i>
        </button>
    </div>
    <!-- end scroll top button -->

    <!-- start header area -->
    <header>
        <!-- start menubar area -->
        <section class="inner-page menubar">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row align-items-center">
                            <!-- logo -->
                            <div class="col-lg-2 col-md-4 col-sm-5 col-6">
                                <div class="logo">
                                    <a href="/">
                                        <img width="130px" height="130px" src="assets/images/home1/logo.png" alt="Logo" />
                                    </a>
                                </div>
                            </div>
                            <!-- main menu -->
                            <div class="col-lg-8 col-md-4 col-sm-2 col-6">
                                <!-- desktop-menu -->
                                <nav class="navbar position-static justify-content-center desktop-menu p-0">
                                    <div class="main-menu">
                                        <ul class="menu">
                                            <li>
                                                <a href="/">خانه</a>
                                            </li>
                                            <li><a href="about.html">درباره ما</a></li>
                                            <li><a href="contact.html">تماس با ما</a></li>
                                        </ul>
                                    </div>
                                </nav>
                                <!-- mobile menu -->
                                <nav class="navbar p-0 mobile-menu position-static">
                                    <div class="header-menu position-static">
                                        <ul class="menu">
                                            <li class="active">
                                                <a href="/">خانه</a>
                                            </li>
                                            <li><a href="about.html">درباره</a></li>
                                            <li><a href="contact.html">تماس با ما</a></li>
                                        </ul>
                                    </div>
                                </nav>
                            </div>
                            <!-- notification -->
                            <div class="col-lg-2 col-md-4 col-sm-5 right-col">
                                <div class="notification">
                                    <ul class="d-flex justify-content-end">
                                        <li>
                                            <a href="account.html">
                                                <i class="flaticon-user-1"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="wishlist.html">
                                                <i class="flaticon-heart"></i>
                                                <span class="quantity">۰۱</span>
                                            </a>
                                        </li>
                                        <li>
                                            <div class="dropdown">
                                                <button class="dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                                    <i class="flaticon-shopping-cart-1"></i>
                                                    <span class="quantity">۰۲</span>
                                                </button>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                                    <div class="heading d-flex justify-content-between">
                                                        <h5>۳ مورد</h5>
                                                        <a href="cart.html">دیدن سبد خرید</a>
                                                    </div>
                                                    <ul>
                                                        <li>
                                                            <div class="d-flex position-relative">
                                                                <img src="assets/images/home1/product/img1.jpg" alt="Product Image" />
                                                                <div class="text">
                                                                    <a href="shop-detail-left.html">
                                                                        <h5>لباس نخی سایز بزرگ</h5>
                                                                    </a>
                                                                    <p>۱ X ۱۳۵۰۰۰</p>
                                                                    <a href="#!" class="icon">
                                                                        <i class="far fa-times-circle"></i>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                    <div class="total d-flex justify-content-between">
                                                        <p>جمع</p>
                                                        <p>۱۳۵۰۰۰</p>
                                                    </div>
                                                    <div class="check">
                                                        <a href="checkout.html" class="button-style1">پرداخت <span class="btn-dot"></span></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end menubar area -->
    </header>
    <!-- end header area -->
    <br>
    <br>
    <br>
    <!-- start category area -->
    <section class="shop-page">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 home1 trending">
                    <div class="row">
                        {% for product in products %}
                        <div class="col-xl-1-5 col-lg-4 col-md-6 col-sm-6">
                            <div class="single">
                                <div class="image">
                                    <a href="{% url 'products:products_detail' product.id product.slug %}">
                                        <img src="{{ product.image_1.url }}" class="img-main" alt="Product">
                                    </a>
                                    <a href="{% url 'products:products_detail' product.id product.slug %}">
                                        <img src="{{ product.image_2.url }}" class="img-hover" alt="Product">
                                    </a>
                                </div>
                                <div class="content">
                                    <a href="{% url 'products:products_detail' product.id product.slug %}">
                                        <h6>{{ product.name }}</h6>
                                    </a>
                                    <p> - {{ product.price }} تومان</p>
                                    <ul class="rating d-flex">
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                    </ul>
                                    <div class="action">
                                        <ul class="d-flex">
                                            <li>
                                                <a href="{% url 'products:products_detail' product.id product.slug %}">
                                                    <i class="flaticon-heart"></i>
                                                    <p class="my-tooltip">
                                                        علاقه مندی
                                                    </p>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{% url 'products:products_detail' product.id product.slug %}">
                                                    <i class="flaticon-shopping-cart-1"></i>
                                                    <p class="my-tooltip">
                                                        خرید
                                                    </p>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{% url 'products:products_detail' product.id product.slug %}" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                                    <i class="flaticon-visibility"></i>
                                                    <p class="my-tooltip">
                                                        نمایش
                                                    </p>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <!-- pagination -->
                        <div class="col-lg-12">
                            <div class="pages">
                                {% if products.has_other_pages %}
                                <ul class="d-flex justify-content-center">
                                    {% if products.has_previous %}
                                    <li><a href="?page={{ products.previous_page_number }}"><i class="flaticon-chevron"></i></a></li>
                                    {% endif %}
                                    {% for i in products.paginator.page_range %}
                                        {% if products.number == i %}
                                            <li><a class="active">{{ i }}</a></li>
                                        {% else %}
                                            <li><a href="?page={{ i }}">{{ i }}</a></li>
                                        {% endif %}
                                    {% endfor %}
                                    {% if products.has_next %}
                                        <li><a href="?page={{ products.next_page_number }}"><i class="flaticon-chevron-1"></i></a></li>
                                    {% endif %}
                                </ul>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end category area -->

    <!-- start overview area -->
    <section class="home1 overview">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="bg">
                        <div class="bg-inner">
                            <div class="row">
                                <div class="col-lg-3 col-md-6">
                                    <div class="item d-flex align-items-center justify-content-center">
                                        <div class="icon">
                                            <i class="flaticon-fire-truck"></i>
                                        </div>
                                        <div class="text">
                                            <h5>حمل و نقل رایگان</h5>
                                            <h6>سفارشات بالای ۶۰۰ هزار تومان</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="item d-flex align-items-center justify-content-center">
                                        <div class="icon">
                                            <i class="flaticon-cards"></i>
                                        </div>
                                        <div class="text">
                                            <h5>پرداخت سریع</h5>
                                            <h6>پرداخت ۱۰۰% مطمئن</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="item d-flex align-items-center justify-content-center">
                                        <div class="icon">
                                            <i class="flaticon-gift-box"></i>
                                        </div>
                                        <div class="text">
                                            <h5>گواهی هدیه</h5>
                                            <h6>اکنون ۱ میلیون بخرید</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="item d-flex align-items-center justify-content-center last-item">
                                        <div class="icon">
                                            <i class="flaticon-customer-service"></i>
                                        </div>
                                        <div class="text">
                                            <h5>پشتیبانی</h5>
                                            <h6>پشتیبانی سریع</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end overview area -->

    <!-- start footer area -->
    <footer class="footer">
        <!-- start footer-top area -->
        <section class="footer-top pb-50">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="content">
                            <div class="title">
                                <h5>درباره ما</h5>
                            </div>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
                            <div class="follow">
                                <h6>راه های ارتباطی</h6>
                                <ul class="d-flex social">
                                    {% for contact in contacts %}
                                    <li><a href="{{ contact.instagram_url }}"><i class="fab fa-instagram"></i></a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6">
                        <div class="content">
                            <div class="title">
                                <h5>اکانت من</h5>
                            </div>
                            <ul>
                                <li><a href="my-account.html">اکانت من</a></li>
                                <li><a href="wishlist.html">لیست علاقه مندی ها</a></li>
                                <li><a href="login.html">ورود</a></li>
                                <li><a href="contact.html">آدرس</a></li>
                                <li><a href="shop-4-column.html">محصول جدید</a></li>
                                <li><a href="faq.html">سوالات متداول</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6">
                        <div class="content">
                            <div class="title">
                                <h5>پشتیبانی</h5>
                            </div>
                            <ul>
                                <li><a href="#!">کمک</a></li>
                                <li><a href="contact.html">تماس با ما</a></li>
                                <li><a href="#!">بازخورد</a></li>
                                <li><a href="#!">خدمات مشتری</a></li>
                                <li><a href="#!">رزرو</a></li>
                                <li><a href="#!">مکان های فروشگاه</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="content">
                            <div class="title">
                                <h5>تماس با ما</h5>
                            </div>
                            <ul class="address">
                                <li class="d-flex align-items-center">
                                    <div class="icon">
                                        <i class="flaticon-phone"></i>
                                    </div>
                                    <div class="text">
                                        <h6>تماس</h6>
                                        {% for phone in contacts %}
                                        <p>{{ phone.phone }}</p>
                                        {% endfor %}
                                    </div>
                                </li>
                                <li class="d-flex align-items-center">
                                    <div class="icon">
                                        <i class="flaticon-mail"></i>
                                    </div>
                                    <div class="text">
                                        <h6>ایمیل</h6>
                                        {% for email in contacts %}
                                        <p>{{ email.email }}</p>
                                        {% endfor %}
                                    </div>
                                </li>
                                <li class="d-flex align-items-center">
                                    <div class="icon">
                                        <i class="flaticon-placeholder"></i>
                                    </div>
                                    <div class="text">
                                        <h6>اینستاگرام</h6>
                                        {% for id in contacts %}
                                        <p>{{ id.instagram_id }}</p>
                                        {% endfor %}
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6">
                        <div class="content">
                            <div class="title">
                                <h5>لینک های مفید</h5>
                            </div>
                            <ul>
                                <li><a href="#!">حریم خصوصی</a></li>
                                <li><a href="#!">نقشه سایت</a></li>
                                <li><a href="#!">محل فروشگاه</a></li>
                                <li><a href="my-account.html">اکانت من</a></li>
                                <li><a href="#!">پیگیری سفارشات</a></li>
                                <li><a href="#!">شرایط استفاده از خدمات</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </footer>
    <!-- end footer area -->

    <!-- jquery -->
    <script src="{% static 'assets/plugins/jquery-3.4.1.min.js'%}"></script>
    
    <!-- bootstrap -->
    <script src="{% static 'assets/js/bootstrap.bundle.min.js'%}"></script>
    
    <!-- menu -->
    <script src="{% static 'assets/plugins/menu.min.js'%}"></script>
    
    <!-- swiper slider -->
    <script src="{% static 'assets/plugins/swiper-bundle.min.js'%}"></script>
    
    <!-- packery -->
    <script src="{% static 'assets/plugins/packery.pkgd.min.js'%}"></script>
    
    <!-- countdown -->
    <script src="{% static 'assets/plugins/jquery.countdown.min.js'%}"></script>
    
    <!-- venobox -->
    <script src="{% static 'assets/plugins/venobox.min.js'%}"></script>
    
    <!-- jquery ui -->
    <script src="{% static 'assets/plugins/jquery-ui.min.js'%}"></script>
    
    <!-- select -->
    <script src="{% static 'assets/plugins/select2.min.js'%}"></script>
    
    <!-- zoom -->
    <script src="{% static 'assets/plugins/jquery.elevateZoom-3.0.8.min.js'%}"></script>
    
    <!-- Google map -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjkssBA3hMeFtClgslO2clWFR6bRraGz0"></script>
    
    <!-- script -->
    <script src="{% static 'assets/js/script.js'%}"></script>
</body>


</html>