{% load static %}

<!DOCTYPE html>
<html lang="fa" dir="rtl">



<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--==== favicon css ====-->
    <link rel="shortcut icon" href="assets/images/favicon.png" type="image/x-icon" />

    <!-- josefin font -->
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&amp;display=swap" rel="stylesheet">

    <title> کوشان بگ | تماس با ما</title>

    <!-- font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />

    <!-- flaticon -->
    <link rel="stylesheet" href="{% static 'assets/font/flaticon.css'%}">

    <!-- bootstrap -->
    <link rel="stylesheet" href="{% static 'assets\css\bootstrap.min.css'%}">

    <!-- menu -->
    <link rel="stylesheet" href="{% static 'assets/css/menu.css'%}">

    <!-- swiper slider -->
    <link rel="stylesheet" href="{% static 'assets/css/swiper-bundle.min.css'%}">

    <!-- venobox -->
    <link rel="stylesheet" href="{% static 'assets/css/venobox.css'%}">

    <!-- select -->
    <link rel="stylesheet" href="{% static 'assets/css/select2.min.css'%}">

    <!-- jquery ui -->
    <link rel="stylesheet" href="{% static 'assets/css/jquery-ui.min.css'%}">

    <!-- style -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css'%}">

    <!-- responsive -->
    <link rel="stylesheet" href="{% static 'assets/css/responsive.css'%}">
</head>    
<body>
    <!-- start preloader area -->
    <div class="preloader">
        <div class="preloader-orbit-loading">
            <div class="cssload-inner cssload-one"></div>
            <div class="cssload-inner cssload-two"></div>
            <div class="cssload-inner cssload-three"></div>
        </div>
    </div>
    <!-- end preloader area -->

    <!-- start scroll top button -->
    <div class="scroll-top">
        <button class="top-to-btn">
            <i class="fas fa-arrow-up"></i>
        </button>
    </div>
    <!-- end scroll top button -->

    <!-- start header area -->
    <header>
        <!-- start menubar area -->
        <section class="inner-page menubar">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row align-items-center">
                            <!-- logo -->
                            <div class="col-lg-2 col-md-4 col-sm-5 col-6">
                                <div class="logo">
                                    <a href="">
                                        
                                    </a>
                                </div>
                            </div>
                            <!-- main menu -->
                            <div class="col-lg-8 col-md-4 col-sm-2 col-6">
                                <!-- desktop-menu -->
                                <nav class="navbar position-static justify-content-center desktop-menu p-0">
                                    <div class="main-menu">
                                        <ul class="menu">
                                            <li>
                                                <a href="/">خانه</a>
                                            </li>
                                            <li><a href="{% url 'contact:contact' %}">تماس با ما</a></li>
                                            <li><a href="{% url 'products:products_list' %}">محصولات</a></li>
                                            <li><a href="{% url 'products:products_list_filter' %}">فیلتر محصولات</a></li>
                                        </ul>
                                    </div>
                                </nav>
                                <!-- mobile menu -->
                                <nav class="navbar p-0 mobile-menu position-static">
                                    <div class="header-menu position-static">
                                        <ul class="menu">
                                            <li class="active">
                                                <a href="/">خانه</a>
                                            </li>
                                            <li><a href="{% url 'contact:contact' %}">تماس با ما</a></li>
                                            <li><a href="{% url 'products:products_list' %}">محصولات</a></li>
                                            <li><a href="{% url 'products:products_list_filter' %}">فیلتر محصولات</a></li>
                                        </ul>
                                    </div>
                                </nav>
                            </div>
                            <!-- notification -->
                            <div class="col-lg-2 col-md-4 col-sm-5 right-col">
                                <div class="notification">
                                    <ul class="d-flex justify-content-end">
                                        <li>
                                            <a href="{% url 'account:user_dashbord' %}">
                                                <i class="flaticon-user-1"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <div class="dropdown">
                                                <a href="{% url 'cart:cart_detail' %}" class="dropdown-toggle">
                                                    <i class="flaticon-shopping-cart-1"></i>
                                                </a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end menubar area -->
    </header>
    <!-- end header area -->

    <!-- start touch area -->
    <section class="contact-page touch p-80">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h3>در تماس باشید</h3>
                    </div>
                </div>
                <div class="col-xxl-10 offset-xxl-1">
                    <div class="row">
                        <div class="col-lg-4 order-1 order-lg-0">
                            <ul class="address">
                                <li>
                                    <div class="icon">
                                        <i class="far fa-map"></i>
                                    </div>
                                    <div class="text">
                                        <h5>نشانی</h5>
                                        <p>تهران، زعفرانیه</p>
                                        <p>قم، پردیسان</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="flaticon-phone"></i>
                                    </div>
                                    <div class="text">
                                        <h5>تلفن</h5>
                                        <p>09123456789</p>
                                        <p>09123456780</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="flaticon-mail"></i>
                                    </div>
                                    <div class="text">
                                        <h5>اینستاگرام</h5>
                                        <p>Mahdi__037</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-8 order-0 order-lg-1">
                            <div class="map-image text-center">
                                <img src="assets/images/contact/map.png" alt="Map">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end touch area -->

    <!-- end newsletter area -->
    <section class="contact-page newsletter pb-80">
        <div class="container">
            <div class="row">
                <div class="col-xxl-10 offset-xxl-1">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="location">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d209961.5936066414!2d50.711977847738744!3d34.688784481605666!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f93bb6eb88ce195%3A0xcc35bec1c2604470!2sQom%2C%20Qom%20Province%2C%20Iran!5e0!3m2!1sen!2s!4v1645272204884!5m2!1sen!2s"
                                    width="450" height="400" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

                            </div>
                        </div>
                        <div class="col-lg-6">
                            <form action="#!">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <label for="name">
                                            <input type="text" id="name" placeholder="نام" class="inputs">
                                            <i class="flaticon-user-1"></i>
                                        </label>
                                    </div>
                                    <div class="col-lg-6">
                                        <label for="email">
                                            <input type="email" id="email" placeholder="ایمیل" class="inputs">
                                            <i class="flaticon-mail-open"></i>
                                        </label>
                                    </div>
                                    <div class="col-lg-6">
                                        <label for="phn">
                                            <input type="tel" id="phn" placeholder="تلفن" class="inputs">
                                            <i class="flaticon-phone"></i>
                                        </label>
                                    </div>
                                    <div class="col-lg-6">
                                        <label for="sub">
                                            <input type="text" id="sub" placeholder="موضوع" class="inputs">
                                            <i class="far fa-edit"></i>
                                        </label>
                                    </div>
                                    <div class="col-lg-12">
                                        <label for="msg" class="msg">
                                            <textarea class="inputs" id="msg" placeholder="پیام"></textarea>
                                            <i class="fas fa-comment-dots"></i>
                                        </label>
                                    </div>
                                    <div class="col-lg-12">
                                        <button type="submit">ارسال پیام</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end newsletter area -->

    <!-- start overview area -->
    <section class="home1 overview">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="bg">
                        <div class="bg-inner">
                            <div class="row">
                                <div class="col-lg-3 col-md-6">
                                    <div class="item d-flex align-items-center justify-content-center">
                                        <div class="icon">
                                            <i class="flaticon-fire-truck"></i>
                                        </div>
                                        <div class="text">
                                            <h5>حمل و نقل رایگان</h5>
                                            <h6>سفارشات بالای ۶۰۰ هزار تومان</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="item d-flex align-items-center justify-content-center">
                                        <div class="icon">
                                            <i class="flaticon-cards"></i>
                                        </div>
                                        <div class="text">
                                            <h5>پرداخت سریع</h5>
                                            <h6>پرداخت ۱۰۰% مطمئن</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="item d-flex align-items-center justify-content-center">
                                        <div class="icon">
                                            <i class="flaticon-gift-box"></i>
                                        </div>
                                        <div class="text">
                                            <h5>گواهی هدیه</h5>
                                            <h6>اکنون ۱ میلیون بخرید</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="item d-flex align-items-center justify-content-center last-item">
                                        <div class="icon">
                                            <i class="flaticon-customer-service"></i>
                                        </div>
                                        <div class="text">
                                            <h5>پشتیبانی</h5>
                                            <h6>پشتیبانی سریع</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end overview area -->

    <!-- start footer area -->
    <footer class="footer">
        <!-- start footer-top area -->
        <section class="footer-top pb-50">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="content">
                            
                            <div class="follow">
                                <h6>راه های ارتباطی</h6>
                                <ul class="d-flex social">
                                    {% for contact in contacts %}
                                    <li><a href="{{ contact.instagram_url }}"><i class="fab fa-instagram"></i></a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6">
                        <div class="content">
                            <div class="title">
                                <h5>حساب من</h5>
                            </div>
                            <ul>
                                {% if request.user.is_authenticated %}
                                    <li><a href="{% url 'account:user_dashbord' %}">اکانت من</a></li>
                                    <li><a href="{% url 'account:user_add_addres' %}">آدرس</a></li>
                                {% else %}
                                    <li><a href="{% url 'account:user_login' %}">ورود</a></li>
                                    <li><a href="{% url 'account:user_register' %}">ثبت نام</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6">
                        <div class="content">
                            <div class="title">
                                <h5>پشتیبانی</h5>
                            </div>
                            <ul>
                                <li><a href="{% url 'contact:contact' %}">تماس با ما</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="content">
                            <div class="title">
                                <h5>تماس با ما</h5>
                            </div>
                            <ul class="address">
                                <li class="d-flex align-items-center">
                                    <div class="icon">
                                        <i class="flaticon-phone"></i>
                                    </div>
                                    <div class="text">
                                        <h6>تماس</h6>
                                        {% for phone in contacts %}
                                        <p>{{ phone.phone }}</p>
                                        {% endfor %}
                                    </div>
                                </li>
                                <li class="d-flex align-items-center">
                                    <div class="icon">
                                        <i class="flaticon-mail"></i>
                                    </div>
                                    <div class="text">
                                        <h6>ایمیل</h6>
                                        {% for email in contacts %}
                                        <p>{{ email.email }}</p>
                                        {% endfor %}
                                    </div>
                                </li>
                                <li class="d-flex align-items-center">
                                    <div class="icon">
                                        <i class="flaticon-placeholder"></i>
                                    </div>
                                    <div class="text">
                                        <h6>اینستاگرام</h6>
                                        {% for id in contacts %}
                                        <p>{{ id.instagram_id }}</p>
                                        {% endfor %}
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6">
                        <div class="content">
                            <div class="title">
                                <h5>لینک های مفید</h5>
                            </div>
                            <ul>
                                <li><a href="{% url 'products:products_list' %}">محصولات</a></li>
                                <li><a href="{% url 'products:products_list_filter' %}">فیلتر محصولات</a></li>
                                <li><a href="{% url 'contact:contact' %}">تماس با ما</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </footer>
    <!-- end footer area -->

    <!-- jquery -->
    <script src="{% static 'assets/plugins/jquery-3.4.1.min.js'%}"></script>
    
    <!-- bootstrap -->
    <script src="{% static 'assets/js/bootstrap.bundle.min.js'%}"></script>
    
    <!-- menu -->
    <script src="{% static 'assets/plugins/menu.min.js'%}"></script>
    
    <!-- swiper slider -->
    <script src="{% static 'assets/plugins/swiper-bundle.min.js'%}"></script>
    
    <!-- packery -->
    <script src="{% static 'assets/plugins/packery.pkgd.min.js'%}"></script>
    
    <!-- countdown -->
    <script src="{% static 'assets/plugins/jquery.countdown.min.js'%}"></script>
    
    <!-- venobox -->
    <script src="{% static 'assets/plugins/venobox.min.js'%}"></script>
    
    <!-- jquery ui -->
    <script src="{% static 'assets/plugins/jquery-ui.min.js'%}"></script>
    
    <!-- select -->
    <script src="{% static 'assets/plugins/select2.min.js'%}"></script>
    
    <!-- zoom -->
    <script src="{% static 'assets/plugins/jquery.elevateZoom-3.0.8.min.js'%}"></script>
    
    <!-- Google map -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjkssBA3hMeFtClgslO2clWFR6bRraGz0"></script>
    
    <!-- script -->
    <script src="{% static 'assets/js/script.js'%}"></script>
</body>


</html>