{% load static %}

<!DOCTYPE html>
<html lang="fa" dir="rtl">



<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--==== favicon css ====-->
    <link rel="shortcut icon" href="{% static 'assets/images/favicon.jpg' %}" type="image/x-icon" />

    <!-- josefin font -->
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&amp;display=swap" rel="stylesheet">

    <title> کوشان بگ | سبد خرید</title>

    <!-- font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />

    <!-- flaticon -->
    <link rel="stylesheet" href="{% static 'assets/font/flaticon.css'%}">

    <!-- bootstrap -->
    <link rel="stylesheet" href="{% static 'assets\css\bootstrap.min.css'%}">

    <!-- menu -->
    <link rel="stylesheet" href="{% static 'assets/css/menu.css'%}">

    <!-- swiper slider -->
    <link rel="stylesheet" href="{% static 'assets/css/swiper-bundle.min.css'%}">

    <!-- venobox -->
    <link rel="stylesheet" href="{% static 'assets/css/venobox.css'%}">

    <!-- select -->
    <link rel="stylesheet" href="{% static 'assets/css/select2.min.css'%}">

    <!-- jquery ui -->
    <link rel="stylesheet" href="{% static 'assets/css/jquery-ui.min.css'%}">

    <!-- style -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css'%}">

    <!-- responsive -->
    <link rel="stylesheet" href="{% static 'assets/css/responsive.css'%}">
</head>    
<body>
    <!-- start preloader area -->
    <div class="preloader">
        <div class="preloader-orbit-loading">
            <div class="cssload-inner cssload-one"></div>
            <div class="cssload-inner cssload-two"></div>
            <div class="cssload-inner cssload-three"></div>
        </div>
    </div>
    <!-- end preloader area -->

    <!-- start scroll top button -->
    <div class="scroll-top">
        <button class="top-to-btn">
            <i class="fas fa-arrow-up"></i>
        </button>
    </div>
    <!-- end scroll top button -->

    <!-- start header area -->
    <header>
        <!-- start menubar area -->
        <section class="inner-page menubar">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row align-items-center">
                            <!-- logo -->
                            <div class="col-lg-2 col-md-4 col-sm-5 col-6">
                                <div class="logo">
                                    <a href="">
                                        
                                    </a>
                                </div>
                            </div>
                            <!-- main menu -->
                            <div class="col-lg-8 col-md-4 col-sm-2 col-6">
                                <!-- desktop-menu -->
                                <nav class="navbar position-static justify-content-center desktop-menu p-0">
                                    <div class="main-menu">
                                        <ul class="menu">
                                            <li>
                                                <a href="/">خانه</a>
                                            </li>
                                            <li><a href="{% url 'contact:contact' %}">تماس با ما</a></li>
                                            <li><a href="{% url 'products:products_list' %}">محصولات</a></li>
                                            <li><a href="{% url 'products:products_list_filter' %}">فیلتر محصولات</a></li>
                                        </ul>
                                    </div>
                                </nav>
                                <!-- mobile menu -->
                                <nav class="navbar p-0 mobile-menu position-static">
                                    <div class="header-menu position-static">
                                        <ul class="menu">
                                            <li class="active">
                                                <a href="/">خانه</a>
                                            </li>
                                            <li><a href="{% url 'contact:contact' %}">تماس با ما</a></li>
                                            <li><a href="{% url 'products:products_list' %}">محصولات</a></li>
                                            <li><a href="{% url 'products:products_list_filter' %}">فیلتر محصولات</a></li>
                                        </ul>
                                    </div>
                                </nav>
                            </div>
                            <!-- notification -->
                            <div class="col-lg-2 col-md-4 col-sm-5 right-col">
                                <div class="notification">
                                    <ul class="d-flex justify-content-end">
                                        <li>
                                            <a href="{% url 'account:user_dashbord' %}">
                                                <i class="flaticon-user-1"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <div class="dropdown">
                                                <a href="{% url 'cart:cart_detail' %}" class="dropdown-toggle">
                                                    <i class="flaticon-shopping-cart-1"></i>
                                                </a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end menubar area -->
    </header>
    <!-- end header area -->

    <!-- start cart area -->
    <section class="cart-page cart-detail p-80">
        <div class="container">
            <div class="row">
                <div class="col-xxl-10 offset-xxl-1" dir="rtl">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">عکس</th>
                                    <th scope="col">نام محصول</th>
                                    <th scope="col">قیمت</th>
                                    <th scope="col">تعداد</th>
                                    <th scope="col">رنگ</th>
                                    <th scope="col">مجموع</th>
                                    <th scope="col">حذف</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in cart %}
                                        {% with product=item.product %}
                                            <tr>
                                                <td class="pro-img">
                                                    <a href="{% url 'products:products_detail' product.id product.slug %}">
                                                        <img src="{{ product.image_1.url }}" alt="Cart" />
                                                    </a>
                                                </td>
                                                <td class="pro-name">
                                                    <a href="{% url 'products:products_detail' product.id product.slug %}">{{ product.slug }}</a>
                                                </td>
                                                <td class="pro-price">
                                                    <p>{{ product.price }} تومان</p>
                                                </td>
                                                <td class="pro-quantity">
                                                    <p>{{ item.quantity }}</p>
                                                </td>
                                                <td>
                                                    <p>{{ item.color }}</p>
                                                </td>
                                                <td class="pro-total">
                                                    <p>{{ item.total_price }} تومان</p>
                                                </td>
                                                <td class="pro-delete">
                                                <a href="{% url 'cart:cart_remove' product.id %}">
                                                    <i class="flaticon-delete"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        {% endwith %}
                                    {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="coupon-area d-flex justify-content-between">
                        <form action="{% url 'coupons:apply' %}" method="post">
                            {%  csrf_token %}
                            <div class="coupon-input">
                                <p>کد تخفیف :</p> 
                                {{ coupon_apply_form.code }}
                                <button type="submit" class="btn-dot">درخواست کوپن</button>
                            </div>
                        </form>
                        <a href="{% url 'cart:cart_detail' %}">
                            <button >به روز رسانی سبد خرید <span class="btn-dot"></span></button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end cart area -->

    <!-- start cart-total area -->
    <section class="cart-page cart-total pb-80">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="total-content" dir="rtl">
                        <div class="title text-center">
                            <h6>مجموع سبد خرید</h6>
                        </div>
                        {% if cart.coupon %}
                            <div class="sub d-flex justify-content-between">
                                <p> تخفیف:</p>
                                <p>({{ cart.coupon.discount }} % تخفیف)</p>
                            </div>
                            <div class="sub d-flex justify-content-between">
                                <p>مجموع قیمت:</p>
                                <p>{{ cart.get_total_price }} تومان</p>
                            </div>
                            {% if request.user.is_authenticated %}
                                {% if request.user.user_addres.all %}
                                <form action="{% url 'orders:order_create' %}" method="post">
                                    {% csrf_token %}
                                    <div class="ship">
                                        <p>آدرس های شما:</p>
                                        {% for addres in request.user.user_addres.all %}
                                            <label class="input-container">
                                                <span class="d-flex justify-content-between">
                                                    <span> شهر : ({{ addres.city }})</span>
                                                    <span> کد پستی : ({{ addres.postal_code }})</span>
                                                </span>
                                                <input type="radio" name="addres" value="{{ addres.id }}">
                                                <span class="checkmark"></span>
                                            </label>
                                        {% endfor %}
                                    </div>
                                    <div class="checkout">
                                        <div class="d-flex justify-content-between">
                                            <h6>مجموع</h6>
                                            <p>{{ cart.get_total_price_after_discount }} تومان</p>
                                        </div>
                                    </div>
                                    <br>
                                    <div>
                                        <button type="submit" class="button-style1">پرداخت</button>
                                    </div>
                                    <br>
                                    <br>
                                    <div class="checkout">
                                        <p>شما می توانید آدرسی دیگر برای سفارش خود ثیت کنید</p>
                                        <a href="{% url 'account:user_add_addres'%}?next={% url 'cart:cart_detail'%}">اضافه کردن آدرس<span class="btn-dot"></span></a>
                                    </div>
                                </form>
                                {% else %}
                                    <div class="checkout">
                                        <p>برای ثیت سفارش باید آدرس خود را ثیت کنید</p>
                                        <a href="{% url 'account:user_add_addres'%}?next={% url 'cart:cart_detail'%}">اضافه کردن آدرس<span class="btn-dot"></span></a>
                                    </div>
                                    <div class="checkout">
                                        <div class="d-flex justify-content-between">
                                            <h6>مجموع</h6>
                                            <p>{{ cart.get_total_price_after_discount }} تومان</p>
                                        </div>
                                    </div>
                                {% endif %}
                            {% else %}
                                <div class="checkout">
                                    <div class="d-flex justify-content-between">
                                        <h6>مجموع</h6>
                                        <p>{{ cart.get_total_price_after_discount }} تومان</p>
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <p>برای ثبت سفارش باید اهراز حویت کنید</p>
                                    </div>
                                    <a href="{% url 'account:user_login' %}">ورود <span class="btn-dot"></span></a>
                                </div>
                            {% endif %}
                        {% else %}
                            {% if request.user.is_authenticated %}
                                {% if request.user.user_addres.all %}
                                <form action="{% url 'orders:order_create' %}" method="post">
                                    {% csrf_token %}
                                    <div class="ship">
                                        <p>آدرس های شما:</p>
                                        {% for addres in request.user.user_addres.all %}
                                            <label class="input-container">
                                                <span class="d-flex justify-content-between">
                                                    <span> شهر : ({{ addres.city }})</span>
                                                    <span> کد پستی : ({{ addres.postal_code }})</span>
                                                </span>
                                                <input type="radio" name="addres" value="{{ addres.id }}">
                                                <span class="checkmark"></span>
                                            </label>
                                        {% endfor %}
                                    </div>
                                    <div class="checkout">
                                        <div class="d-flex justify-content-between">
                                            <h6>مجموع</h6>
                                            <p>{{ cart.get_total_price_after_discount }} تومان</p>
                                        </div>
                                    </div>
                                    <br>
                                    <div>
                                        <button type="submit" class="button-style1">پرداخت</button>
                                    </div>
                                    <br>
                                    <br>
                                    <div class="checkout">
                                        <p>شما می توانید آدرسی دیگر برای سفارش خود ثیت کنید</p>
                                        <a href="{% url 'account:user_add_addres'%}?next={% url 'cart:cart_detail'%}">اضافه کردن آدرس<span class="btn-dot"></span></a>
                                    </div>
                                </form>
                                {% else %}
                                    <div class="checkout">
                                        <p>برای ثیت سفارش باید آدرس خود را ثیت کنید</p>
                                        <a href="{% url 'account:user_add_addres'%}?next={% url 'cart:cart_detail'%}">اضافه کردن آدرس<span class="btn-dot"></span></a>
                                    </div>
                                {% endif %}
                            {% else %}
                                <div class="checkout">
                                    <div class="d-flex justify-content-between">
                                        <h6>مجموع</h6>
                                        <p>{{ cart.get_total_price_after_discount }} تومان</p>
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <p>برای ثبت سفارش باید اهراز حویت کنید</p>
                                    </div>
                                    <a href="{% url 'account:user_login' %}">ورود <span class="btn-dot"></span></a>
                                </div>
                            {% endif %}
                        {% endif %}
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end cart-total area -->

        <!-- start overview area -->
        <section class="home1 overview">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="bg">
                            <div class="bg-inner">
                                <div class="row">
                                    <div class="col-lg-3 col-md-6">
                                        <div class="item d-flex align-items-center justify-content-center">
                                            <div class="icon">
                                                <i class="flaticon-fire-truck"></i>
                                            </div>
                                            <div class="text">
                                                <h5>حمل و نقل رایگان</h5>
                                                <h6>سفارشات بالای ۶۰۰ هزار تومان</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <div class="item d-flex align-items-center justify-content-center">
                                            <div class="icon">
                                                <i class="flaticon-cards"></i>
                                            </div>
                                            <div class="text">
                                                <h5>پرداخت سریع</h5>
                                                <h6>پرداخت ۱۰۰% مطمئن</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <div class="item d-flex align-items-center justify-content-center">
                                            <div class="icon">
                                                <i class="flaticon-gift-box"></i>
                                            </div>
                                            <div class="text">
                                                <h5>گواهی هدیه</h5>
                                                <h6>اکنون ۱ میلیون بخرید</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <div class="item d-flex align-items-center justify-content-center last-item">
                                            <div class="icon">
                                                <i class="flaticon-customer-service"></i>
                                            </div>
                                            <div class="text">
                                                <h5>پشتیبانی</h5>
                                                <h6>پشتیبانی سریع</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end overview area -->
        
        <footer class="footer">
            <!-- start footer-top area -->
            <section class="footer-top pb-50">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <div class="content">
                                
                                <div class="follow">
                                    <h6>راه های ارتباطی</h6>
                                    <ul class="d-flex social">
                                        {% for contact in contacts %}
                                        <li><a href="{{ contact.instagram_url }}"><i class="fab fa-instagram"></i></a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6">
                            <div class="content">
                                <div class="title">
                                    <h5>حساب من</h5>
                                </div>
                                <ul>
                                    {% if request.user.is_authenticated %}
                                        <li><a href="{% url 'account:user_dashbord' %}">اکانت من</a></li>
                                        <li><a href="{% url 'account:user_add_addres' %}">آدرس</a></li>
                                    {% else %}
                                        <li><a href="{% url 'account:user_login' %}">ورود</a></li>
                                        <li><a href="{% url 'account:user_register' %}">ثبت نام</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6">
                            <div class="content">
                                <div class="title">
                                    <h5>پشتیبانی</h5>
                                </div>
                                <ul>
                                    <li><a href="{% url 'contact:contact' %}">تماس با ما</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="content">
                                <div class="title">
                                    <h5>تماس با ما</h5>
                                </div>
                                <ul class="address">
                                    <li class="d-flex align-items-center">
                                        <div class="icon">
                                            <i class="flaticon-phone"></i>
                                        </div>
                                        <div class="text">
                                            <h6>تماس</h6>
                                            {% for phone in contacts %}
                                            <p>{{ phone.phone }}</p>
                                            {% endfor %}
                                        </div>
                                    </li>
                                    <li class="d-flex align-items-center">
                                        <div class="icon">
                                            <i class="flaticon-mail"></i>
                                        </div>
                                        <div class="text">
                                            <h6>ایمیل</h6>
                                            {% for email in contacts %}
                                            <p>{{ email.email }}</p>
                                            {% endfor %}
                                        </div>
                                    </li>
                                    <li class="d-flex align-items-center">
                                        <div class="icon">
                                            <i class="flaticon-placeholder"></i>
                                        </div>
                                        <div class="text">
                                            <h6>اینستاگرام</h6>
                                            {% for id in contacts %}
                                            <p>{{ id.instagram_id }}</p>
                                            {% endfor %}
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6">
                            <div class="content">
                                <div class="title">
                                    <h5>لینک های مفید</h5>
                                </div>
                                <ul>
                                    <li><a href="{% url 'products:products_list' %}">محصولات</a></li>
                                    <li><a href="{% url 'products:products_list_filter' %}">فیلتر محصولات</a></li>
                                    <li><a href="{% url 'contact:contact' %}">تماس با ما</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </footer>
        <!-- end footer area -->
    
        <!-- jquery -->
        <script src="{% static 'assets/plugins/jquery-3.4.1.min.js'%}"></script>
        
        <!-- bootstrap -->
        <script src="{% static 'assets/js/bootstrap.bundle.min.js'%}"></script>
        
        <!-- menu -->
        <script src="{% static 'assets/plugins/menu.min.js'%}"></script>
        
        <!-- swiper slider -->
        <script src="{% static 'assets/plugins/swiper-bundle.min.js'%}"></script>
        
        <!-- packery -->
        <script src="{% static 'assets/plugins/packery.pkgd.min.js'%}"></script>
        
        <!-- countdown -->
        <script src="{% static 'assets/plugins/jquery.countdown.min.js'%}"></script>
        
        <!-- venobox -->
        <script src="{% static 'assets/plugins/venobox.min.js'%}"></script>
        
        <!-- jquery ui -->
        <script src="{% static 'assets/plugins/jquery-ui.min.js'%}"></script>
        
        <!-- select -->
        <script src="{% static 'assets/plugins/select2.min.js'%}"></script>
        
        <!-- zoom -->
        <script src="{% static 'assets/plugins/jquery.elevateZoom-3.0.8.min.js'%}"></script>
        
        <!-- Google map -->
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjkssBA3hMeFtClgslO2clWFR6bRraGz0"></script>
        
        <!-- script -->
        <script src="{% static 'assets/js/script.js'%}"></script>
    </body>
    
    
    </html>