{% load static %}

<!DOCTYPE html>
<html lang="fa" dir="rtl">



<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--==== favicon css ====-->
    <link rel="shortcut icon" href="{% static 'assets/images/favicon.jpg' %}" type="image/x-icon" />

    <!-- josefin font -->
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&amp;display=swap" rel="stylesheet">

    <title> کوشان بگ | پنل کاربر</title>

    <!-- font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />

    <!-- flaticon -->
    <link rel="stylesheet" href="{% static 'assets/font/flaticon.css'%}">

    <!-- bootstrap -->
    <link rel="stylesheet" href="{% static 'assets\css\bootstrap.min.css'%}">

    <!-- menu -->
    <link rel="stylesheet" href="{% static 'assets/css/menu.css'%}">

    <!-- swiper slider -->
    <link rel="stylesheet" href="{% static 'assets/css/swiper-bundle.min.css'%}">

    <!-- venobox -->
    <link rel="stylesheet" href="{% static 'assets/css/venobox.css'%}">

    <!-- select -->
    <link rel="stylesheet" href="{% static 'assets/css/select2.min.css'%}">

    <!-- jquery ui -->
    <link rel="stylesheet" href="{% static 'assets/css/jquery-ui.min.css'%}">

    <!-- style -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css'%}">

    <!-- responsive -->
    <link rel="stylesheet" href="{% static 'assets/css/responsive.css'%}">
</head>    
<body>
    <!-- start preloader area -->
    <div class="preloader">
        <div class="preloader-orbit-loading">
            <div class="cssload-inner cssload-one"></div>
            <div class="cssload-inner cssload-two"></div>
            <div class="cssload-inner cssload-three"></div>
        </div>
    </div>
    <!-- end preloader area -->

    <!-- start scroll top button -->
    <div class="scroll-top">
        <button class="top-to-btn">
            <i class="fas fa-arrow-up"></i>
        </button>
    </div>
    <!-- end scroll top button -->

    <!-- start header area -->
    <header>
        <!-- start menubar area -->
        <section class="inner-page menubar">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row align-items-center">
                            <!-- logo -->
                            <div class="col-lg-2 col-md-4 col-sm-5 col-6">
                                <div class="logo">
                                    <a href="">
                                        
                                    </a>
                                </div>
                            </div>
                            <!-- main menu -->
                            <div class="col-lg-8 col-md-4 col-sm-2 col-6">
                                <!-- desktop-menu -->
                                <nav class="navbar position-static justify-content-center desktop-menu p-0">
                                    <div class="main-menu">
                                        <ul class="menu">
                                            <li>
                                                <a href="/">خانه</a>
                                            </li>
                                            <li><a href="{% url 'contact:contact' %}">تماس با ما</a></li>
                                            <li><a href="{% url 'products:products_list' %}">محصولات</a></li>
                                            <li><a href="{% url 'products:products_list_filter' %}">فیلتر محصولات</a></li>
                                        </ul>
                                    </div>
                                </nav>
                                <!-- mobile menu -->
                                <nav class="navbar p-0 mobile-menu position-static">
                                    <div class="header-menu position-static">
                                        <ul class="menu">
                                            <li class="active">
                                                <a href="/">خانه</a>
                                            </li>
                                            <li><a href="{% url 'contact:contact' %}">تماس با ما</a></li>
                                            <li><a href="{% url 'products:products_list' %}">محصولات</a></li>
                                            <li><a href="{% url 'products:products_list_filter' %}">فیلتر محصولات</a></li>
                                        </ul>
                                    </div>
                                </nav>
                            </div>
                            <!-- notification -->
                            <div class="col-lg-2 col-md-4 col-sm-5 right-col">
                                <div class="notification">
                                    <ul class="d-flex justify-content-end">
                                        <li>
                                            <a href="{% url 'account:user_dashbord' %}">
                                                <i class="flaticon-user-1"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <div class="dropdown">
                                                <a href="{% url 'cart:cart_detail' %}" class="dropdown-toggle">
                                                    <i class="flaticon-shopping-cart-1"></i>
                                                </a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end menubar area -->
    </header>
    <!-- end header area -->

    <!-- start my-account area -->
    <section class="my-account p-80">
        <div class="container">
            <div class="row">
                <div class="col-xxl-10 offset-xxl-1">
                    <div class="row">
                        <div class="col-xl-3 col-lg-3">
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">داشبورد</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">سفارشات</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="address-tab" data-bs-toggle="tab" data-bs-target="#address" type="button" role="tab" aria-controls="address" aria-selected="false">نشانی</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="account-tab" data-bs-toggle="tab" data-bs-target="#account" type="button" role="tab" aria-controls="account" aria-selected="false">جزئیات حساب</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="log-tab" data-bs-toggle="tab" data-bs-target="#log" type="button" role="tab" aria-controls="log" aria-selected="false">خروج</button>
                                </li>
                            </ul>
                        </div>
                        <div class="col-xl-9 col-lg-9">
                            <div class="tab-content" id="myTabContent">
                                <!-- dashboard -->
                                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                    <div class="content">
                                        <h6><span>سلام ادمین</span> (ادمین نیست؟ <a href="#!">خروج</a> )</h6>
                                        <p>از داشبورد حساب خود می توانید خود را مشاهده کنید <a href="#!">سفارشات اخیر</a>, <a href="#!">حمل و نقل خود را مدیریت کنید</a> و <a href="#!">آدرس های صورتحساب</a>, و خود را ویرایش کنید <a href="#!">کلمه عبور</a>                                            و جزئیات حساب.</p>
                                    </div>
                                </div>
                                <!-- orders -->
                                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                    <div class="content">
                                        <div class="table-responsive">
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th scope="col" class="ord-id">آیدی سفارش</th>
                                                        <th scope="col" class="ord-date">تاریخ سفارش</th>
                                                        <th scope="col" class="ord-status">وضعیت سفارش</th>
                                                        <th scope="col" class="ord-price">قیمت</th>
                                                        <th scope="col" class="ord-pay">وضعیت پرداخت</th>
                                                        <th scope="col" class="ord-delivery">تحویل</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for orders in user.user_orders.all %}
                                                        {% if orders.paid == True %}
                                                            <tr>
                                                                <td><a href="#!">ORD{{ orders.id }}</a></td>
                                                                <td>{{ orders.created }}</td>
                                                                <td>{{ orders.total_price }} تومان</td>
                                                                <td>پرداخت شده</td>
                                                                <td>تحویل داده شده</td>
                                                            </tr>
                                                        {% else %}
                                                            <tr>
                                                                <td><a href="#!">ORD{{ orders.id }}</a></td>
                                                                <td>{{ orders.created }}</td>
                                                                <td>{{ orders.total_price }} تومان</td>
                                                                <td>انتظار <a href="{% url 'payment:zarinpal_send_request' orders.id %}" class="pay">پرداخت</a></td>
                                                                <td>انتظار</td>>
                                                            </tr>
                                                        {% endif %}
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <!-- address -->
                                <div class="tab-pane fade" id="address" role="tabpanel" aria-labelledby="address-tab">
                                    <div class="content">
                                        <h4>نشانی من</h4>
                                        <div class="row">
                                            {% for addres in user.user_addres.all %}
                                                <div class="col-xl-6 col-lg-6 col-md-6">
                                                    <div class="item">
                                                        <h6>{{ addres.city }}</h6>
                                                        <p>{{ addres.postal_code }}</p>
                                                        <div class="edit d-flex align-items-center justify-content-between">
                                                            <a href="#!"><i class="far fa-edit"></i>ویرایش</a>
                                                            <a href="#!"><i class="flaticon-delete"></i>حذف </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <!-- account details -->
                                <div class="tab-pane fade" id="account" role="tabpanel" aria-labelledby="account-tab">
                                    <div class="content">
                                        <h4>جزئیات حساب</h4>
                                        <div class="item info">
                                            <h6>اطلاعات شخصی</h6>
                                            <p><span>نام:</span>{{ user.f_name }}</p>
                                            <p><span>نام خانوادگی:</span>{{ user.l_name }}</p>
                                            <p><span>تلفن:</span>{{ user.phone }}</p>
                                            <p><span>ایمیل:</span>{{ user.email }}</p>
                                            <div class="edit">
                                                <a href="#!"><i class="far fa-edit"></i>ویرایش</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- logout -->
                                <div class="tab-pane fade" id="log" role="tabpanel" aria-labelledby="log-tab">
                                    <div class="content logout">
                                        <p>می خواهید از سیستم خارج شوید؟</p>
                                        <a href="{% url 'account:user_logout' %}"><i class="fas fa-sign-out-alt"></i>خروج</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end my-account area -->

    <!-- start overview area -->
    <section class="home1 overview">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="bg">
                        <div class="bg-inner">
                            <div class="row">
                                <div class="col-lg-3 col-md-6">
                                    <div class="item d-flex align-items-center justify-content-center">
                                        <div class="icon">
                                            <i class="flaticon-fire-truck"></i>
                                        </div>
                                        <div class="text">
                                            <h5>حمل و نقل رایگان</h5>
                                            <h6>سفارشات بالای ۶۰۰ هزار تومان</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="item d-flex align-items-center justify-content-center">
                                        <div class="icon">
                                            <i class="flaticon-cards"></i>
                                        </div>
                                        <div class="text">
                                            <h5>پرداخت سریع</h5>
                                            <h6>پرداخت ۱۰۰% مطمئن</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="item d-flex align-items-center justify-content-center">
                                        <div class="icon">
                                            <i class="flaticon-gift-box"></i>
                                        </div>
                                        <div class="text">
                                            <h5>گواهی هدیه</h5>
                                            <h6>اکنون ۱ میلیون بخرید</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="item d-flex align-items-center justify-content-center last-item">
                                        <div class="icon">
                                            <i class="flaticon-customer-service"></i>
                                        </div>
                                        <div class="text">
                                            <h5>پشتیبانی</h5>
                                            <h6>پشتیبانی سریع</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end overview area -->

    <!-- start footer area -->
    <footer class="footer">
        <!-- start footer-top area -->
        <section class="footer-top pb-50">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="content">
                            
                            <div class="follow">
                                <h6>راه های ارتباطی</h6>
                                <ul class="d-flex social">
                                    {% for contact in contacts %}
                                    <li><a href="{{ contact.instagram_url }}"><i class="fab fa-instagram"></i></a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6">
                        <div class="content">
                            <div class="title">
                                <h5>حساب من</h5>
                            </div>
                            <ul>
                                {% if request.user.is_authenticated %}
                                    <li><a href="{% url 'account:user_dashbord' %}">اکانت من</a></li>
                                    <li><a href="{% url 'account:user_add_addres' %}">آدرس</a></li>
                                {% else %}
                                    <li><a href="{% url 'account:user_login' %}">ورود</a></li>
                                    <li><a href="{% url 'account:user_register' %}">ثبت نام</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6">
                        <div class="content">
                            <div class="title">
                                <h5>پشتیبانی</h5>
                            </div>
                            <ul>
                                <li><a href="{% url 'contact:contact' %}">تماس با ما</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="content">
                            <div class="title">
                                <h5>تماس با ما</h5>
                            </div>
                            <ul class="address">
                                <li class="d-flex align-items-center">
                                    <div class="icon">
                                        <i class="flaticon-phone"></i>
                                    </div>
                                    <div class="text">
                                        <h6>تماس</h6>
                                        {% for phone in contacts %}
                                        <p>{{ phone.phone }}</p>
                                        {% endfor %}
                                    </div>
                                </li>
                                <li class="d-flex align-items-center">
                                    <div class="icon">
                                        <i class="flaticon-mail"></i>
                                    </div>
                                    <div class="text">
                                        <h6>ایمیل</h6>
                                        {% for email in contacts %}
                                        <p>{{ email.email }}</p>
                                        {% endfor %}
                                    </div>
                                </li>
                                <li class="d-flex align-items-center">
                                    <div class="icon">
                                        <i class="flaticon-placeholder"></i>
                                    </div>
                                    <div class="text">
                                        <h6>اینستاگرام</h6>
                                        {% for id in contacts %}
                                        <p>{{ id.instagram_id }}</p>
                                        {% endfor %}
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6">
                        <div class="content">
                            <div class="title">
                                <h5>لینک های مفید</h5>
                            </div>
                            <ul>
                                <li><a href="{% url 'products:products_list' %}">محصولات</a></li>
                                <li><a href="{% url 'products:products_list_filter' %}">فیلتر محصولات</a></li>
                                <li><a href="{% url 'contact:contact' %}">تماس با ما</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </footer>
    <!-- end footer area -->

    <!-- jquery -->
    <script src="{% static 'assets/plugins/jquery-3.4.1.min.js'%}"></script>
    
    <!-- bootstrap -->
    <script src="{% static 'assets/js/bootstrap.bundle.min.js'%}"></script>
    
    <!-- menu -->
    <script src="{% static 'assets/plugins/menu.min.js'%}"></script>
    
    <!-- swiper slider -->
    <script src="{% static 'assets/plugins/swiper-bundle.min.js'%}"></script>
    
    <!-- packery -->
    <script src="{% static 'assets/plugins/packery.pkgd.min.js'%}"></script>
    
    <!-- countdown -->
    <script src="{% static 'assets/plugins/jquery.countdown.min.js'%}"></script>
    
    <!-- venobox -->
    <script src="{% static 'assets/plugins/venobox.min.js'%}"></script>
    
    <!-- jquery ui -->
    <script src="{% static 'assets/plugins/jquery-ui.min.js'%}"></script>
    
    <!-- select -->
    <script src="{% static 'assets/plugins/select2.min.js'%}"></script>
    
    <!-- zoom -->
    <script src="{% static 'assets/plugins/jquery.elevateZoom-3.0.8.min.js'%}"></script>
    
    <!-- Google map -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjkssBA3hMeFtClgslO2clWFR6bRraGz0"></script>
    
    <!-- script -->
    <script src="{% static 'assets/js/script.js'%}"></script>
</body>


</html>